Class 3-HomeTask 2.json
{
  "createdAt": "2025-08-14T20:35:14.159Z",
  "updatedAt": "2025-08-15T18:01:59.000Z",
  "id": "6Z3ItlgWMkVLiXNn",
  "name": "Class 3-HomeTask 2",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "authentication": "airtableTokenApi",
        "baseId": {
          "__rl": true,
          "value": "https://airtable.com/appbLwee0dGQ2SJz5/tblcMdaCsujU9BTlH/viwWRRSvuEuJxb2wx?blocks=hide",
          "mode": "url"
        },
        "tableId": {
          "__rl": true,
          "value": "https://airtable.com/appbLwee0dGQ2SJz5/tblhnkIkYDyljfJ6I/viwlbcIgQH2V1UF1l?blocks=hide",
          "mode": "url"
        },
        "triggerField": "Customer Name",
        "additionalFields": {
          "fields": ""
        }
      },
      "type": "n8n-nodes-base.airtableTrigger",
      "typeVersion": 1,
      "position": [
        -20,
        225
      ],
      "id": "b86ffe06-d79f-4141-a4c1-b9cd1c26f824",
      "name": "Airtable Trigger",
      "credentials": {
        "airtableTokenApi": {
          "id": "NwzP4LTFYojbLbOG",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appbLwee0dGQ2SJz5",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://airtable.com/appbLwee0dGQ2SJz5"
        },
        "table": {
          "__rl": true,
          "value": "tblhnkIkYDyljfJ6I",
          "mode": "list",
          "cachedResultName": "Customer Complaints",
          "cachedResultUrl": "https://airtable.com/appbLwee0dGQ2SJz5/tblhnkIkYDyljfJ6I"
        },
        "filterByFormula": "AND({Priority Level} = \"High\", {Action Taken} = \"\")",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        200,
        225
      ],
      "id": "edb3e9ef-9b11-49e9-aecb-360df19743fc",
      "name": "Search records",
      "credentials": {
        "airtableTokenApi": {
          "id": "NwzP4LTFYojbLbOG",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        720,
        220
      ],
      "id": "a68bd193-eaba-46c5-bc46-ce9c6b9d5ab4",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "EwzqNyt7LZkLmyP7",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1080,
        320
      ],
      "id": "5599ba30-3de8-431d-888f-9fed72d5556c",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "EwzqNyt7LZkLmyP7",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        420,
        225
      ],
      "id": "9d9a9554-abf2-42bf-8fb0-00301b69b0c1",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Search records').item.json.Email }}",
        "subject": "=Apology for Your Recent Order - {{ $('Search records').item.json['Customer Name'] }}",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {
          "appendAttribution": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1360,
        100
      ],
      "id": "ec65bfce-9b72-47dd-99c7-3f5b79665a86",
      "name": "Send a message",
      "webhookId": "18d3f2c7-32d3-450b-b87e-7604b3572f16",
      "alwaysOutputData": false,
      "credentials": {
        "gmailOAuth2": {
          "id": "DFMTRttXzSv3skXi",
          "name": "Gmail account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "## Action Taken\n\n",
        "height": 480,
        "width": 2260,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -120,
        -20
      ],
      "typeVersion": 1,
      "id": "44ded112-8bbf-49a7-b751-c8582360c36c",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=this is the customer name:  {{ $json['Customer Name'] }}\n\nand \n\n\nthis is her compalint: {{ $json['Complaint Details'] }}\n\nAnalyze the complaint text and summarize the core issue in bullet\npoints.",
        "options": {
          "systemMessage": "just give me the COMPLAIN ANALYSIS no extra details and no header or no \"Here is your respoce balh blah\"!"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        640,
        0
      ],
      "id": "4a58ada3-e0ef-4d8a-a8d6-59a721ef2815",
      "name": "Compalaint Analysis",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appbLwee0dGQ2SJz5",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://airtable.com/appbLwee0dGQ2SJz5"
        },
        "table": {
          "__rl": true,
          "value": "tblhnkIkYDyljfJ6I",
          "mode": "list",
          "cachedResultName": "Customer Complaints",
          "cachedResultUrl": "https://airtable.com/appbLwee0dGQ2SJz5/tblhnkIkYDyljfJ6I"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Search records').item.json.id }}",
            "Action Taken": "={{ $json.output }}",
            "Date Sent": "={{ $today.format('yyyy-MM-dd') }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true
            },
            {
              "id": "Customer Name",
              "displayName": "Customer Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Complaint Details",
              "displayName": "Complaint Details",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Priority Level",
              "displayName": "Priority Level",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "High",
                  "value": "High"
                },
                {
                  "name": "Medium",
                  "value": "Medium"
                },
                {
                  "name": "Low",
                  "value": "Low"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Action Taken",
              "displayName": "Action Taken",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date Sent",
              "displayName": "Date Sent",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": false
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1940,
        225
      ],
      "id": "c8d0daa6-4151-49c1-9642-ccc5daeeae5f",
      "name": "Update record",
      "credentials": {
        "airtableTokenApi": {
          "id": "NwzP4LTFYojbLbOG",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=this is the customer name:  {{ $('Search records').item.json['Customer Name'] }}\n\nand \n\n\nthis is her compalint:{{ $('Search records').item.json['Complaint Details'] }}\n\nand this is the complaint analysis: {{ $json.output }}\n\n\nDraft a personalized apology and proposed resolution email for\nthe customer based on the summary.\n\nmake up a proposed Resolution",
        "options": {
          "systemMessage": "just give me the email and no extra details and no header or no \"here is ur responce blah blah\"!Here is your respose\n\n\nkeep the email short and to the point.\nno extra details and keep the tome appologetic.\ndo not add a subject just the email\n\n\nalways start with Dear {customer Name},.\n\nadd a signature too at the end\n\nTashi Technologies Corp,Customer Support"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1000,
        100
      ],
      "id": "e9f63ff7-46ad-437d-8991-af8791b57fbf",
      "name": "Email"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=this is the customer name:  {{ $('Search records').item.json['Customer Name'] }}\n\nand \n\n\nthis is her compalint:{{ $('Search records').item.json['Complaint Details'] }}\n\nand this is the complaint analysis: {{ $('Compalaint Analysis').item.json.output }}\n\nthis is the email that was sent: {{ $('Email').item.json.output }}\n\nnow give me summary, date sent, and resolution\nnotes of the action taken",
        "options": {
          "systemMessage": "=keep it short andn to the point and do not repeat informations\ntodays date is : {{ $today }}\n\nand the email was sent today so add this date in place of the \"Date Sent\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1580,
        100
      ],
      "id": "bf841a11-eba7-4c2a-9f85-bff37890ebf5",
      "name": "Sumamry"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1660,
        320
      ],
      "id": "ecabb293-dfe3-4c57-ba43-10f5174479f0",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "EwzqNyt7LZkLmyP7",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 17
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -20,
        585
      ],
      "id": "7961cca6-e0cc-49c4-b8bb-6d17f4177812",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appbLwee0dGQ2SJz5",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://airtable.com/appbLwee0dGQ2SJz5"
        },
        "table": {
          "__rl": true,
          "value": "tblhnkIkYDyljfJ6I",
          "mode": "list",
          "cachedResultName": "Customer Complaints",
          "cachedResultUrl": "https://airtable.com/appbLwee0dGQ2SJz5/tblhnkIkYDyljfJ6I"
        },
        "filterByFormula": "=AND({Action Taken} != \"\", {Date Sent} = '{{ $today.format('yyyy-MM-dd') }}')",
        "options": {},
        "sort": {
          "property": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        200,
        585
      ],
      "id": "81cb3920-d0d1-40ac-b4d4-4d8e3e0c2129",
      "name": "Search records1",
      "credentials": {
        "airtableTokenApi": {
          "id": "NwzP4LTFYojbLbOG",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "Action Taken"
            }
          ]
        },
        "options": {
          "mergeLists": true
        }
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        420,
        585
      ],
      "id": "02cb4087-6eb6-4ac3-959f-1186fe300246",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json['Action Taken'] }}\n\nDraft an Email for daily summary email to the support manager listing all resolved\ncomplaints for that day.",
        "options": {
          "systemMessage": "No extra details\nno subject just teh email \n\nalways start with \"Respected Sir,\"\n\n\nadd signature in the end.\nhere is the information fro you you to draft a signauter.\nMy name is \"Muhammad Abdullah\" adn I am \"Customer Support Team Lead\"\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        640,
        585
      ],
      "id": "518dd88a-b8c7-4ff2-9034-0c2ab400ea93",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        720,
        805
      ],
      "id": "1ca0d466-caf0-4a40-9617-f6eb38b11d56",
      "name": "Google Gemini Chat Model3",
      "credentials": {
        "googlePalmApi": {
          "id": "EwzqNyt7LZkLmyP7",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "=mrabdullah80808080@gmail.com",
        "subject": "=Daily Support Summary - {{ $today.format('yyyy-MM-dd') }}",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1000,
        585
      ],
      "id": "35420e20-3078-4a35-83e3-f0fe26557e59",
      "name": "Send a message1",
      "webhookId": "18d3f2c7-32d3-450b-b87e-7604b3572f16",
      "alwaysOutputData": false,
      "credentials": {
        "gmailOAuth2": {
          "id": "DFMTRttXzSv3skXi",
          "name": "Gmail account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "## Daily Email",
        "height": 460,
        "width": 1380
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -120,
        500
      ],
      "typeVersion": 1,
      "id": "1bb552b8-77a4-45e3-9e4f-326359e357a9",
      "name": "Sticky Note1"
    }
  ],
  "connections": {
    "Airtable Trigger": {
      "main": [
        [
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Compalaint Analysis",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Email",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Compalaint Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Sumamry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compalaint Analysis": {
      "main": [
        [
          {
            "node": "Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update record": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Sumamry",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Sumamry": {
      "main": [
        [
          {
            "node": "Update record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Search records1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records1": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    },
    "node:Airtable Trigger": {
      "lastTimeChecked": "2025-08-15T17:59:31Z"
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Compalaint Analysis": [
      {
        "json": {
          "output": "*   Late delivery (2 days).\n*   Damaged packaging.\n*   Inconvenience due to delay affecting a time-sensitive event (birthday gift)."
        }
      }
    ],
    "Email": [
      {
        "json": {
          "output": "Dear Emily Carter,\n\nWe sincerely apologize for the delayed delivery of your order and the damaged packaging you received. We understand the inconvenience this caused, especially as it was for a birthday gift, and we deeply regret that we fell short of your expectations.\n\nTo make amends, we have processed a 20% refund for your recent purchase, which you should see reflected in your account within 3-5 business days. Additionally, we would like to offer you a 30% discount on your next order with us. We are actively investigating this shipping incident to prevent similar issues in the future.\n\nTashi Technologies Corp,\nCustomer Support"
        }
      }
    ],
    "Sumamry": [
      {
        "json": {
          "output": "**Summary:** Emily Carter experienced a two-day delay and damaged packaging for a time-sensitive birthday gift order. Tashi Technologies Corp apologized, issued a 20% refund, offered a 30% future discount, and is investigating the shipping issue.\n\n**Date Sent:** 2025-08-15\n\n**Resolution:**\n*   20% refund processed for the recent purchase.\n*   30% discount offered on the next order.\n\n**Notes of Action Taken:**\n*   Customer complaint acknowledged.\n*   Refund initiated (visible in 3-5 business days).\n*   Future discount provided.\n*   Internal investigation of shipping incident commenced."
        }
      }
    ],
    "Send a message": [
      {
        "json": {
          "id": "198aee1e5f593ab7",
          "threadId": "198aee1e5f593ab7",
          "labelIds": [
            "SENT"
          ]
        }
      }
    ]
  },
  "versionId": "9536a258-ec5f-4d16-a192-431366dfdfb6",
  "triggerCount": 2,
  "tags": []
}