Customer_Support_Workflow.json
{
  "createdAt": "2025-08-21T21:46:10.409Z",
  "updatedAt": "2025-08-21T21:46:10.409Z",
  "id": "DNqBzEYtN8Vhu5rl",
  "name": "Customer_Support_Workflow",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "9e376a97-fd66-4804-b1df-5120f73dfc38",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "DFMTRttXzSv3skXi",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.text }}",
        "categories": {
          "categories": [
            {
              "category": "Customer Support",
              "description": "An email that is related to helping out customers"
            },
            {
              "category": "Other",
              "description": "Any email that is not customer support related."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        220,
        0
      ],
      "id": "11103d77-49f9-4f75-9449-0302303fa4c7",
      "name": "Text Classifier"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        520,
        300
      ],
      "id": "4ed1f6c5-99a3-4803-8bed-703101ade6cc",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Gmail Trigger').item.json.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "# Overview\nYou are a customer support agent for Tech Haven. Your job is to respond to\nincoming emails with relevant information using your knowledgeBase tool.\n\n## Instructions\n- Your output should be friendly and use emojis\n- Sign off as Mr. Helpful from Tech Haven Solutions\n\n## Output\n- Output only the body content of the email\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        700,
        -80
      ],
      "id": "76f78b07-c592-4ffe-ad8e-04cb1a3f8d48",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        200,
        180
      ],
      "id": "9b2af0de-5419-4f60-8e51-dd4be312ba8c",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "dLeMTu1QAquCNKdn",
          "name": "Gemini creds"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        700,
        140
      ],
      "id": "c2d929e6-ead3-483e-a000-f9747a490b9f",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "dLeMTu1QAquCNKdn",
          "name": "Gemini creds"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Call this tool to access the FAQ and policies data",
        "pineconeIndex": {
          "__rl": true,
          "value": "rag-pipeline",
          "mode": "list",
          "cachedResultName": "rag-pipeline"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        900,
        180
      ],
      "id": "0f6e4b03-8199-40ff-aa2c-16dd22d7ffb0",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "V03abXRgsqiHEBqm",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/text-embedding-004"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        920,
        380
      ],
      "id": "198b8e36-8dee-49df-b1d1-76a9a7539767",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "dLeMTu1QAquCNKdn",
          "name": "Gemini creds"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1180,
        -80
      ],
      "id": "b042a885-c498-46d2-9050-aab7bca60966",
      "name": "Reply to a message",
      "webhookId": "703a40a8-029d-4ff3-aa85-ccb955d93cc0",
      "credentials": {
        "gmailOAuth2": {
          "id": "DFMTRttXzSv3skXi",
          "name": "Gmail account"
        }
      }
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "61259d79-4714-464e-b37a-735b450e1386",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-08-21T21:46:10.412Z",
      "updatedAt": "2025-08-21T21:46:10.412Z",
      "role": "workflow:owner",
      "workflowId": "DNqBzEYtN8Vhu5rl",
      "projectId": "CtFhfI3VvFsmPKJX"
    }
  ],
  "tags": []
}