LinkedIn_Content_creator_Workflow.json
{
  "createdAt": "2025-07-29T19:24:57.393Z",
  "updatedAt": "2025-08-06T05:17:20.000Z",
  "id": "9hskFLaVEU8ndFPM",
  "name": "LinkedIn_Content_creator_Workflow",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -780,
        160
      ],
      "id": "1e8c0719-6c51-4803-9199-a422d098ed8b",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Cq0qxY_IOOEyLsbr-ILu6W9q36rxN_ygn3UzwwWqdRI",
          "mode": "list",
          "cachedResultName": "linkedIn Posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Cq0qxY_IOOEyLsbr-ILu6W9q36rxN_ygn3UzwwWqdRI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Cq0qxY_IOOEyLsbr-ILu6W9q36rxN_ygn3UzwwWqdRI/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status ",
              "lookupValue": "To Do"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -580,
        160
      ],
      "id": "6faba518-6ae4-4f04-9bb7-88954cb90e31",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EhAt2j9QvRbOZG2y",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"Search the web for {{ $json.Topic }}\",\n  \"auto_parameters\": false,\n  \"topic\": \"general\",\n  \"search_depth\": \"basic\",\n  \"chunks_per_source\": 3,\n  \"max_results\": 3,\n  \"time_range\": null,\n  \"days\": 7,\n  \"include_answer\": true,\n  \"include_raw_content\": true,\n  \"include_images\": false,\n  \"include_image_descriptions\": false,\n  \"include_domains\": [],\n  \"exclude_domains\": [],\n  \"country\": null\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -280,
        60
      ],
      "id": "9627693c-d6b4-4a96-9361-92096ae00a48",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Article 1:  {{ $json.results[0].content }}\n\nArticle 2: {{ $json.results[1].content }}\n\nArticle 3: {{ $json.results[2].content }}",
        "options": {
          "systemMessage": "Turning these articles into a linkedin Post.\nmake sure it in a single coherrnt way without putting in phraes like here is an article type shit.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "9e19397d-4ef2-47ec-ba23-fbb68b78207d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1Cq0qxY_IOOEyLsbr-ILu6W9q36rxN_ygn3UzwwWqdRI",
          "mode": "list",
          "cachedResultName": "linkedIn Posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Cq0qxY_IOOEyLsbr-ILu6W9q36rxN_ygn3UzwwWqdRI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Cq0qxY_IOOEyLsbr-ILu6W9q36rxN_ygn3UzwwWqdRI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Topic": "={{ $('Get row(s) in sheet').item.json.Topic }}",
            "Status ": "Created",
            "Content": "={{ $json.output }}"
          },
          "matchingColumns": [
            "Topic"
          ],
          "schema": [
            {
              "id": "Topic",
              "displayName": "Topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status ",
              "displayName": "Status ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        580,
        100
      ],
      "id": "2c13c84b-9534-4364-ab4f-c0b4d1def1bf",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EhAt2j9QvRbOZG2y",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -60,
        260
      ],
      "id": "7618a3b2-5d47-42c7-a4ac-4a49baad2908",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "EwzqNyt7LZkLmyP7",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "14026306-7515-41b7-b8df-5e2bbbbf31e8",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-07-29T19:24:57.445Z",
      "updatedAt": "2025-07-29T19:24:57.445Z",
      "role": "workflow:owner",
      "workflowId": "9hskFLaVEU8ndFPM",
      "projectId": "CtFhfI3VvFsmPKJX"
    }
  ],
  "tags": []
}