n8n-Workflows-Backup.json
{
  "createdAt": "2025-08-04T18:49:30.907Z",
  "updatedAt": "2025-08-22T17:29:10.000Z",
  "id": "5WVl1nG35VZQEWVd",
  "name": "n8n-Workflows-Backup",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 3
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1104,
        384
      ],
      "id": "57e1edb8-188b-4ca1-a3f8-0ed801d34c2e",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "http://localhost:5678/api/v1/workflows",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -880,
        384
      ],
      "id": "b802b6a0-d90e-46ec-b9f2-455e8a691ba3",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "T0kLlqRUrEV01ypE",
          "name": "n8n API"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -656,
        384
      ],
      "id": "fc9f793a-bee3-4227-b8a5-c157660a3fe9",
      "name": "Split Out"
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true,
          "fileName": "={{ $json.name }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -224,
        384
      ],
      "id": "97289517-0d03-4b06-9ec8-f89615fe1af6",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "MuhammadAbdullah80",
          "mode": "list",
          "cachedResultName": "MuhammadAbdullah80",
          "cachedResultUrl": "https://github.com/MuhammadAbdullah80"
        },
        "repository": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://github.com/MuhammadAbdullah80/n8n"
        },
        "filePath": "={{ $('Split Out').item.json.name }}.json",
        "binaryData": true,
        "binaryPropertyName": "=data",
        "commitMessage": "none"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        448,
        384
      ],
      "id": "4b34e5ba-6d2d-4d6b-a6f4-2418e181beb4",
      "name": "Create a file",
      "webhookId": "14f8123c-b9ad-448e-b4c5-c092482534f6",
      "alwaysOutputData": true,
      "credentials": {
        "githubOAuth2Api": {
          "id": "eXKpJZ0zf7n6h0fl",
          "name": "GitHub account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "MuhammadAbdullah80",
          "mode": "list",
          "cachedResultName": "MuhammadAbdullah80",
          "cachedResultUrl": "https://github.com/MuhammadAbdullah80"
        },
        "repository": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://github.com/MuhammadAbdullah80/n8n"
        },
        "filePath": "={{ $('Split Out').item.json.name }}.json",
        "binaryData": true,
        "binaryPropertyName": "=data",
        "commitMessage": "none"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        224,
        304
      ],
      "id": "dc784726-d2b8-4e90-93a5-61ac342a3ba0",
      "name": "Edit a file",
      "webhookId": "14f8123c-b9ad-448e-b4c5-c092482534f6",
      "alwaysOutputData": true,
      "credentials": {
        "githubOAuth2Api": {
          "id": "eXKpJZ0zf7n6h0fl",
          "name": "GitHub account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        16,
        384
      ],
      "id": "7b6a716c-63ec-428f-b88d-059a9476dfe4",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "635fe52a-3110-4081-af7f-62c2326d0df2",
              "leftValue": "={{ $json.isArchived }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -432,
        384
      ],
      "id": "9539dbb5-a27c-493f-801f-236cd72cccc4",
      "name": "Filter"
    },
    {
      "parameters": {
        "content": "## Main Workflow\n",
        "height": 500,
        "width": 1880,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1152,
        176
      ],
      "typeVersion": 1,
      "id": "00fbfe2b-a377-4f98-88a5-41a78d99a674",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Edit Here!\nUse your\nn8n API\n",
        "height": 100,
        "width": 150,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -896,
        240
      ],
      "typeVersion": 1,
      "id": "f55f2cbf-6fbb-4bdf-bf0a-41cfb1be3a31",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Edit Here!\nUse your\nGitHub Account\n",
        "height": 100,
        "width": 150,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        416,
        208
      ],
      "typeVersion": 1,
      "id": "50d04c37-46a7-4812-bf9a-d2b787104bec",
      "name": "Sticky Note2"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit a file": {
      "main": [
        [],
        [
          {
            "node": "Create a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Create a file",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": [
        13
      ]
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "2d070326-cb2d-4924-bd23-cf438e77b009",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-08-04T18:49:30.951Z",
      "updatedAt": "2025-08-04T18:49:30.951Z",
      "role": "workflow:owner",
      "workflowId": "5WVl1nG35VZQEWVd",
      "projectId": "CtFhfI3VvFsmPKJX"
    }
  ],
  "tags": []
}