n8n-Credentials-Backup.json
{
  "createdAt": "2025-08-06T04:49:45.780Z",
  "updatedAt": "2025-08-06T05:08:10.000Z",
  "id": "nx1SHzJcQpWWgk8j",
  "name": "n8n-Credentials-Backup",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 3
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -380,
        0
      ],
      "id": "a99128e9-02a6-4d8c-b4f1-ba1d7befe355",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "http://localhost:5678/api/v1/credentials/schema/githubApi",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -140,
        0
      ],
      "id": "5833e79a-3a96-4717-b708-b677fbd6fe06",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "T0kLlqRUrEV01ypE",
          "name": "n8n API"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        140,
        0
      ],
      "id": "8d38ed1b-6f4d-48ba-828b-7c5f46315459",
      "name": "Split Out"
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true,
          "fileName": "={{ $json.name }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        440,
        0
      ],
      "id": "7b68dd00-9f51-48e3-bd73-b2fbdf5e465e",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "MuhammadAbdullah80",
          "mode": "list",
          "cachedResultName": "MuhammadAbdullah80",
          "cachedResultUrl": "https://github.com/MuhammadAbdullah80"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-backup",
          "mode": "list",
          "cachedResultName": "n8n-backup",
          "cachedResultUrl": "https://github.com/MuhammadAbdullah80/n8n-backup"
        },
        "filePath": "={{ $('Split Out').item.json.name }}.json",
        "binaryData": true,
        "binaryPropertyName": "=data",
        "commitMessage": "none"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1400,
        160
      ],
      "id": "51a059fd-6a6c-4760-9aa3-4ecf548dc960",
      "name": "Create a file",
      "webhookId": "ecf622c3-cce4-4a80-bcfb-97de06bf0f74",
      "alwaysOutputData": true,
      "credentials": {
        "githubOAuth2Api": {
          "id": "eXKpJZ0zf7n6h0fl",
          "name": "GitHub account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "MuhammadAbdullah80",
          "mode": "list",
          "cachedResultName": "MuhammadAbdullah80",
          "cachedResultUrl": "https://github.com/MuhammadAbdullah80"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-backup",
          "mode": "list",
          "cachedResultName": "n8n-backup",
          "cachedResultUrl": "https://github.com/MuhammadAbdullah80/n8n-backup"
        },
        "filePath": "={{ $('Split Out').item.json.name }}.json",
        "binaryData": true,
        "binaryPropertyName": "=data",
        "commitMessage": "none"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1180,
        -40
      ],
      "id": "cbe88435-7d00-4276-a56d-a25f94e53618",
      "name": "Edit a file",
      "webhookId": "f9428961-176a-4231-a062-1baa7c7cfed4",
      "alwaysOutputData": true,
      "credentials": {
        "githubOAuth2Api": {
          "id": "eXKpJZ0zf7n6h0fl",
          "name": "GitHub account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        720,
        0
      ],
      "id": "379c8b47-3906-4eed-8f65-b6e180b2f608",
      "name": "Loop Over Items"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit a file": {
      "main": [
        [],
        [
          {
            "node": "Create a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Create a file",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "6791dfda-9269-4dba-a3e0-d7f616e49827",
  "triggerCount": 1,
  "tags": []
}