RAG_Pipeline_and_Chatbot.json
{
  "name": "RAG Pipeline and Chatbot",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "19X3dVxhV9ql1zTSNmqbU_OdHat_0Rytz",
          "mode": "list",
          "cachedResultName": "FAQ",
          "cachedResultUrl": "https://drive.google.com/drive/folders/19X3dVxhV9ql1zTSNmqbU_OdHat_0Rytz"
        },
        "event": "fileCreated",
        "options": {
          "fileType": "all"
        }
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        1.765625
      ],
      "id": "061cea4e-5275-42c2-bd9e-a8a12e777ed2",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "rEicnRUKmejzGbPZ",
          "name": "abdullahk808080808@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        180,
        140
      ],
      "id": "850ae84c-e118-4a45-8747-254522c04957",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "rEicnRUKmejzGbPZ",
          "name": "abdullahk808080808@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "rag-pipeline",
          "mode": "list",
          "cachedResultName": "rag-pipeline"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        400,
        140
      ],
      "id": "50c944ab-980d-4d1b-8fcb-962c56dcdf8f",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "X8LrJvQ5votFP4Um",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        560,
        320
      ],
      "id": "b5fdf514-2ecb-49a9-8b72-440a7e31059e",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        580,
        500
      ],
      "id": "9ead7d58-e252-4e04-accc-b467325b5e33",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1100,
        160
      ],
      "id": "bbb76130-b3cb-4f7c-9c98-1f38f0634fc3",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        860,
        180
      ],
      "id": "a1f98e9b-baa5-41b8-94ca-dc58e8fd116e",
      "name": "When chat message received",
      "webhookId": "68231bec-b381-440a-b497-36e9f335212f"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Call this tool to access the policy and FAQ DataBase",
        "pineconeIndex": {
          "__rl": true,
          "value": "rag-pipeline",
          "mode": "list",
          "cachedResultName": "rag-pipeline"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1240,
        400
      ],
      "id": "9bc5cf3d-886c-4bc6-9b62-2e36cc4b2d06",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "X8LrJvQ5votFP4Um",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/text-embedding-004"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        460,
        360
      ],
      "id": "32eda9ee-2319-4621-866f-90a19b013d67",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "dLeMTu1QAquCNKdn",
          "name": "Gemini creds"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/text-embedding-004"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1280,
        560
      ],
      "id": "990109a6-e56f-481a-b8c1-97d3d49dca53",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "dLeMTu1QAquCNKdn",
          "name": "Gemini creds"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1140,
        380
      ],
      "id": "29978b23-cc56-486d-b8dc-16230a0f9008",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "dLeMTu1QAquCNKdn",
          "name": "Gemini creds"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7047c186-987a-4b3b-9585-921fe9656990",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "510fe6203072535093bb2ab3dd1e4cf8176cc90da3bee7f259f9edc18a9c8dd7"
  },
  "id": "ye3wHIoJhwJd0qv4",
  "tags": []
}