Spam Email.json
{
  "createdAt": "2025-08-25T18:52:27.544Z",
  "updatedAt": "2025-08-26T17:19:41.000Z",
  "id": "m28aJWx2vHkxaPij",
  "name": "Spam Email",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -64,
        64
      ],
      "id": "da90932d-a7fd-4272-baa5-8b574a690369",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1_2VHSX6UTP6ByFiPAVaL-dQrR808CEf05CIE0WK0_pk",
          "mode": "list",
          "cachedResultName": "Spam Emails",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_2VHSX6UTP6ByFiPAVaL-dQrR808CEf05CIE0WK0_pk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_2VHSX6UTP6ByFiPAVaL-dQrR808CEf05CIE0WK0_pk/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "Pending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        160,
        64
      ],
      "id": "62caccf1-42fe-4089-9413-a0d81ac00e6c",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EhAt2j9QvRbOZG2y",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json[' Emails'] }}",
        "subject": "Exciting Update from XYZ Company",
        "emailType": "text",
        "message": "Dear Business,  We hope this message finds you well. At XYZ Company, we’re always striving to bring more value to our customers. We’re thrilled to announce the launch of our new customer portal, designed to make your experience faster, easier, and more personalized.  With this update, you’ll be able to:  Track your orders in real-time  Access exclusive discounts  Get 24/7 customer support  To explore the new portal, simply log in with your existing account details at www.xyzcompany.com .  Thank you for being a valued part of the XYZ community. We look forward to continuing this journey with you.  Warm regards, John Smith Customer Success Manager XYZ Company",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        608,
        0
      ],
      "id": "34a99842-f63c-44db-886c-073ee1f165b3",
      "name": "Send a message",
      "webhookId": "1ac3cbde-9421-42de-b3af-9357b522b99c",
      "executeOnce": false,
      "credentials": {
        "gmailOAuth2": {
          "id": "DFMTRttXzSv3skXi",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        400
      ],
      "id": "3abfc998-0ac1-4193-b3bd-56ccdf26a8cd",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "DFMTRttXzSv3skXi",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1_2VHSX6UTP6ByFiPAVaL-dQrR808CEf05CIE0WK0_pk",
          "mode": "list",
          "cachedResultName": "Spam Emails",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_2VHSX6UTP6ByFiPAVaL-dQrR808CEf05CIE0WK0_pk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_2VHSX6UTP6ByFiPAVaL-dQrR808CEf05CIE0WK0_pk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            " Emails": "={{ $('Information Extractor').item.json.output.Email }}",
            "Valid": "={{ $json.output }}"
          },
          "matchingColumns": [
            " Emails"
          ],
          "schema": [
            {
              "id": " Emails",
              "displayName": " Emails",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Valid",
              "displayName": "Valid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        928,
        400
      ],
      "id": "717c905a-140d-4ed0-949f-d97c3bf96786",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EhAt2j9QvRbOZG2y",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Email recieved was: {{ $('Gmail Trigger').item.json.snippet }}\nyour Output has to be only \"Yes\" or \"no\" and nothing else.\n\nif the email recieved is something about a wrong email address or that the email was not found or any type of error with tthe actual email adress then output \"No\" else output \"Yes\"!",
        "options": {
          "systemMessage": "you output has to be \"Yes\" or \"No\"!"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        576,
        400
      ],
      "id": "48af553e-c3ca-4dd6-bf34-7a0153d3418c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "text": "={{ $json.snippet }}\n{{ $json.From }}",
        "attributes": {
          "attributes": [
            {
              "name": "Email",
              "description": "the email this email was intented to be sent"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        224,
        400
      ],
      "id": "a740a13d-3327-41c3-968e-1bc35d898217",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        296,
        624
      ],
      "id": "f318b46c-72b5-481b-85f6-d333018b5cfc",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "EwzqNyt7LZkLmyP7",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1_2VHSX6UTP6ByFiPAVaL-dQrR808CEf05CIE0WK0_pk",
          "mode": "list",
          "cachedResultName": "Spam Emails",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_2VHSX6UTP6ByFiPAVaL-dQrR808CEf05CIE0WK0_pk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_2VHSX6UTP6ByFiPAVaL-dQrR808CEf05CIE0WK0_pk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            " Emails": "={{ $('Get row(s) in sheet').item.json[' Emails'] }}",
            "Valid": "=",
            "Status": "Done"
          },
          "matchingColumns": [
            " Emails"
          ],
          "schema": [
            {
              "id": " Emails",
              "displayName": " Emails",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Valid",
              "displayName": "Valid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        832,
        0
      ],
      "id": "8f6a4d89-f514-4688-ab5e-f7330d27fa8c",
      "name": "Update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EhAt2j9QvRbOZG2y",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Sending",
        "height": 304,
        "width": 1568,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -232,
        -24
      ],
      "typeVersion": 1,
      "id": "2ed0a668-eea2-4415-83cf-1fe67eb9dfc0",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Recieving",
        "height": 448,
        "width": 1296,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -136,
        320
      ],
      "typeVersion": 1,
      "id": "fe996275-9058-490e-ac56-ab1c01ed001a",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "batchSize": 50,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        384,
        64
      ],
      "id": "a173ffb6-bccf-456d-8075-6ee3451f4a0d",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "days"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1056,
        64
      ],
      "id": "73a9dde0-8999-4b98-ba58-d55749d9b68d",
      "name": "Wait",
      "webhookId": "e0488d78-48e5-4082-96da-3be2ebcf2614"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Update row in sheet1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Gmail Trigger": {
      "Gmail Trigger": {
        "lastTimeChecked": 1759411862,
        "possibleDuplicates": [
          "198f1685758c80e6",
          "198f0de80445fc96"
        ]
      }
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "d50a8a44-0ff6-4a7d-b19e-01fd8e154572",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-08-25T18:52:27.599Z",
      "updatedAt": "2025-08-25T18:52:27.599Z",
      "role": "workflow:owner",
      "workflowId": "m28aJWx2vHkxaPij",
      "projectId": "CtFhfI3VvFsmPKJX"
    }
  ],
  "tags": []
}